doctype html
html(lang='en')
  head
    title dane odekirk // front end developer
    meta(name='description' content='based in seattle. experienced developer.')
    meta(name='author' content='dane odekirk')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    link(rel='icon'  type='image/png' sizes="32x32" href='favicon.png')
    style
        include ../app.css
  body
    div.container
        h1 dane odekirk
        span
        div
            a(href='https://www.linkedin.com/in/daneodekirk') linkedin
        div
            a(href='https://github.com/daneodekirk') github
        div
            a(href='https://medium.com/@dane') medium
        div
            a#contact(href='#') me
    script
        include ../app.js
