h1 {
  height: 0;
  text-indent: -10000px;
}

a {
  font-size:3rem;
    text-decoration: none;
    color: #808080;
}

@media (min-width: 400px) {

  .columns {
    text-align: center;
  }

}

@media (min-width: 550px) {

  .columns {
    float: none;
  }

  img {
    float: none;
    vertical-align: middle;
  }

}