@import "bootstrap/variables";
@import "bootstrap/mixins";

// Reset
@import "bootstrap/normalize";
@import "bootstrap/print";

// Core 
@import "bootstrap/scaffolding";
@import "bootstrap/type";
@import "bootstrap/grid";

// Utilit
@import "bootstrap/utilities";


@import "onepage-scroll";

body {
  background-color: @gray-lighter;
  -webkit-font-smoothing: antialiased; 
}

p {
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  float:left;
}

h1, h2 {
  font-size: 110px;
}

div.wrapper {
  position: relative;
  top: 50%;
  width: 1024px;
  margin-top: -92px;
  margin-left: auto;
  margin-right: auto;
}

div.inner {
  float:left;
  width: 75%;
}

img.gravatar {
  float:left;
  padding: 0 40px;
}

section.two {
  h2 {
    float: left; 
  }
}

section.three {
  a {
    font-size: 40px;
  }
}
