html,body {
  color: #333;
  font-family: 'Rufina', serif;
  font-weight:normal;
  overflow-x:hidden;
  position:absolute;
  width:100%;
}
h1 {
  font-size: 270px;
  font-weight:normal;
  position: absolute;
  top: 0px;
  left: 0px;
  line-height: 200px;
  z-index: -2;
  color:rgb(206, 206, 206);
  margin:0;
  padding:0;
}
h2 {
  font-weight:normal;
  color:white;
  width:100%;
  font-size:150px;
  line-height:2em;
}
p {
  font-weight:normal;
  font-size: 24px;
  line-height: 30px;
}
div.row {
  position:relative;
  margin-bottom:250px;
}

div.showcase {
  position:relative;
  max-width:95%;
  margin:auto;
}

img {
  max-width:100%;
}

img.mobile {
  position: absolute;
  bottom: 0px;
  width: 200px;
  left: -13px;
}

img.brush {
  max-width:none;
  position:absolute;
  z-index:-1;
}

img.egyptian-blue {
  top: -410px;
  left: -1400px;
}

img.jaffa {
  top:-330px;
  left:-550px;
}


h2.uw {
  font-size: 200px;
  line-height: 220px;
  margin-top: 100px
}
img.picton-blue {
  top: -210px;
  left: -1600px;
}

h2.uwtv {
  text-align:right;
}
img.uwtv.screamin-green {
  top: -180px;
  left: -550px;
}

h2.uw-theme {
  font-size:140px;
  text-align:right;
}
img.gossamer {
  top:-240px;
  left:-120px;
}

h2.timeline {
  font-size: 135px;
}
img.screamin-green {
  top: -220px;
  left: -1400px;
}

h2.me {
  text-align:right;
}
img.electric-violet {
  top:-430px;
  left:-600px;
}

img.artwork {
  padding:20px 0px;
}
