doctype 5
html
 head
  title Dane Odekirk
  meta(name="viewport",content="width=1024")
  link( rel='stylesheet', href='http://fonts.googleapis.com/css?family=Raleway:400,300|Yanone+Kaffeesatz:300|Oswald:700', type='text/css', media='all' )
  link( rel='stylesheet', href='site.css', type='text/css', media='all' )
  script( type='text/javascript', src='site.dev.js' )
 body
  div.main
    section.one
        div.wrapper
          img.gravatar(src='https://lh5.googleusercontent.com/D7SwXOevcuVmm-f8XZyOeJUV9xgjt3_Sepn7kKHfDBLT=w110-h120-c')
          h1 i'm dane
    section.two
        div.wrapper 
          img.gravatar(src='https://lh5.googleusercontent.com/D7SwXOevcuVmm-f8XZyOeJUV9xgjt3_Sepn7kKHfDBLT=w110-h120-c')
          div.inner 
            h2 web developer 
            p
              a(href="http://github.com/daneodekirk", target="_blank") github 
              a(href="http://uw.edu", target="_blank") uw.edu 
              a(href="http://uw.edu/maps", target="_blank") campus maps 
              a(href="http://uw.edu/150", target="_blank") uw 150th 
              a(href="http://uwtv.org", target="_blank") uwtv 
              a(href="http://fortmadison.com", target="_blank") fort madison 
              a(href="http://uw.edu/marketing/uw-web-team-sites/", target="_blank") everything else 
            p vim git backbone.js jquery underscore nodejs grunt php wordpress varnish python plone svn rails django nginx apache coffeescript jade less sass

    section.three
        div.wrapper 
          img.gravatar(src='https://lh5.googleusercontent.com/D7SwXOevcuVmm-f8XZyOeJUV9xgjt3_Sepn7kKHfDBLT=w110-h120-c')
          div.inner
            h2 science guy
            a(href="https://github.com/daneodekirk/bohm",target="_blank") de broglie-bohm theory anyone?

    section.four
        div.wrapper 
          img.gravatar(src='https://lh5.googleusercontent.com/D7SwXOevcuVmm-f8XZyOeJUV9xgjt3_Sepn7kKHfDBLT=w110-h120-c')
          a(href="/canvas",target="_blank")
            h2 occasional artist

    section.five
        div.wrapper 
          img.gravatar(src='https://lh5.googleusercontent.com/D7SwXOevcuVmm-f8XZyOeJUV9xgjt3_Sepn7kKHfDBLT=w110-h120-c')
          div.inner
            h2 get in touch
            p
              | daneodekirk at gmail dot com or 
              a(href="http://uw.edu/home/peopledir/",target="_blank") look me up
