@use "@picocss/pico/scss/pico" with (
  $semantic-root-element: "div#pico",
  $theme-color: "cyan",
);

@import "@fontsource/figtree";

html,
body,
h1,
main,
header {
  font-family: 'Figtree', var(--pico-font-family);
}

a.home {
  text-decoration: none;
  color: black;
}

.container {
  max-width: 900px;
  padding: 2rem;

  &.homepage {
    margin-top: 10rem;
  }
}

.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.5rem;
  a {
    text-decoration: none;
    color: black;
  }
  small {
    padding-left: 1rem;
    text-wrap: nowrap;
  }
}
